/* | ----- A. Reset ----- | */
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  user-select: none;
  color: #f9fafb;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
}

/* | ----- B. Style - Notes: (Mobile First Design) ----- | */
/* • Utility Classes */
.container{
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 20px;
}

.vertical__padding{
  padding: 120px 0px;
}

.heading{
  font-size: 28px;
  font-weight: 700;
  color: #F9FAFB;
}

.sub__heading{
  font-size: 16px;
  font-weight: 400;
  color: #d1d5db;
}

.text__green{
  color: #34d399;
} 

.text__light__yellow{
  color: #FCD34D;
} 

.text__yellow{
  color: #fbbf24;
}

.text__gray{
  color: #e5e7eb;
}

.visible__on__tablet{
  display: none;
}
.visible__on__desktop{
  display: none;
}

.code__indent{
  padding-left: 24px;
}

.variable__type{
  color: #ffb476;
}

.variable__name{
  color: #eed9af;
}

.data__string{
  color: #f0c774;
}
.data__number{
  color: #c48092;
}
.semicolon{
  color: #8a8073;
}

.text__lightgreen{
  color: #9ebb67;
}
.text__red{
  color: #c54739;
}

.font__bold{
  font-weight: 700;
}
.text__underline{
  text-decoration: underline;
}

/* • Common CSS */
html{
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body{
  background: #131313;
}

header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 0;
}

.navigation__wrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul.navigation__container{
  display: flex;
  column-gap: 24px;
}

.logo{
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.logo h1{
  font-size: 24px;
  line-height: 2rem;
}

.logo img{
  width: 28px;
}

.navigation__container li{
  list-style: none;
}

.nav__link.active{
  font-weight: 700;
  color: #fbbf24;
}

#hamburger__button{
  display: block;
  width: 21px;
  height: 24px;
}

#hamburger__button svg{
  fill: white;
  cursor: pointer;
  font-size: 24px;
}

.mobile__menu{
  position: fixed;
  left: 0; top: 100%;
  width: 100vw;
  height: 100%;
  background: #131313;
  display: flex;
  flex-direction: column;
  row-gap: 60px;
  justify-content: center;
  align-items: center;
  z-index: 100;
  transition: top .4s ease-in;
}

.mobile__menu.opened{
  top: 0;
}

.mobile__menu .navigation__container{
  display: flex;
  flex-direction: column;
  row-gap: 36px;
}

.mobile__menu .navigation__container .nav__link{
  font-size: 18px;
}

#close__button{
  padding: 8px;
  background: transparent;
  border: none;
  fill: white;
  font-size: 24px;
  margin-bottom: -100px;
  cursor: pointer;
}

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
  row-gap: 50px;
  height: auto;
  padding: 100px 0;
}

.left__side{
  order: 2;
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  text-align: center;
}

.left__side h1{
  font-size: 36px;
  line-height: 2.5rem;
}

#cta__link{
  margin: 0 auto;
  width: fit-content;
}

.cta__button{
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 6px;
  padding: 12px 20px;
  border-radius: 10px;
  background: #f6c936;
  cursor: pointer;
  transition: .3s ease-out;
  border: none;
  box-shadow: 0px 2px 10px 2px #f59f0bda;
}

.cta__button:hover{
  background: #fbc02b;
  transform: translateY(4px);
}

.cta__button span{
  font-size: 16px;
  font-weight: 700;
  color: #B45309;
}

.cta__button svg{
  font-size: 18px;
  fill: #B45309;
  margin-bottom: 2px;
}

.right__side{
  position: relative;
  order: 1;
}

.right__side #yellow__blob, .right__side #green__blob{
  position: absolute;
  width: 100%;
  aspect-ratio: 1/1;
}

.right__side img, .right__side #yellow__blob, .right__side #green__blob{
  animation-name: blob-animation;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  border-radius: 50%;
}

.right__side #yellow__blob{
  top: 0; right: 0;
  background: #F8CD48;
  animation-duration: 6s;
}

.right__side #green__blob{
  bottom: 0; right: 8px;
  width: 90px;
  background: #5DE1AE;
  animation-duration: 3s;
  animation-direction: reverse;

  display: flex;
  justify-content: center;
  align-items: center;
}

.right__side #green__blob img{
  width: 45px;
}

.right__side > img{
  display: block;
  position: relative;
  margin-left: auto;
  width: 100%;
  max-width: 400px;
  animation-duration: 4s;
}

@keyframes blob-animation {
  0% {
    transform: scale(1);
    border-radius: 29% 71% 19% 81% / 45% 43% 57% 55%;
  }
  25% {
    transform: scale(0.985);
    border-radius: 64% 36% 62% 38% / 45% 43% 57% 55%;
  }
  50% {
    transform: scale(1);
    border-radius: 82% 18% 34% 66% / 59% 64% 36% 41%;
  }
  75% {
    transform: scale(1.035);
    border-radius: 53% 47% 30% 70% / 77% 40% 60% 23%;
  }
  100% {
    transform: scale(1);
    border-radius: 29% 71% 19% 81% / 45% 43% 57% 55%;
  }
}

.portfolio__wrapper, .about__wrapper, .blog__wrapper{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100%;
}

.portfolio__wrapper, .blog__wrapper{
  row-gap: 36px;
}

.about__wrapper{
  row-gap: 80px;
}

.card__list, .article__list{
  display: grid;
  grid-template-columns: auto;
  gap: 20px;
}

.card, .article__card{
  width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  flex-direction: column;
  background: rgb(31, 31, 31);
  padding: 20px;
  border-radius: 12px;
}

.card{
  row-gap: 20px;
}

.article__card{
  row-gap: 12px;
}

.card img, .article__card img{
  width: 100%;
  aspect-ratio: 16/9;
  height: auto;
  object-fit: cover;
  border-radius: 8px;
}

.card__info{
  text-align: center;
}

.article__card__info{
  text-align: left;
}

.article__card__info .postedon__date{
  font-size: 14px;
  color: rgb(160, 160, 160);
}

.card .card__title, .article__card .card__title{
  font-size: 22px;
  font-weight: 700;
}

.article__card .card__title{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card .description, .article__card .description{
  font-size: 14px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card__button{
  font-size: 28px;
  background: rgb(252, 211, 77);
  padding: 4px 20px;
  border-radius: 6px;
  color: #B45309;
  font-weight: 800;
  transition: .3s ease-out;
}

.card__button:hover{
  background: #fbc02b;
}

.readmore__button{
  font-size: 16px;
  color: rgb(252, 211, 77);
  display: block;
  margin-right: auto;
  text-decoration: underline;
}

.detailed__blog{
  max-width: 900px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  margin: 0 auto;
  padding: 24px;
  background: rgb(31, 31, 31);
  border-radius: 12px;
}

.bullet__separator{
  margin: 0 6px;
}

.detailed__blog .main__img, .content__img{
  width: 100%;
  border-radius: 8px;
}

.detailed__blog .article__info{
  color: rgb(160, 160, 160);
}

.article__content{
  margin-top: -40px;
}

.article__content .content__heading{
  /* margin-top: 40px; */
  font-size: 20px;
  margin-bottom: 8px;
}

.mt__40{
  margin-top: 40px;
}

.article__content .content__heading2{
  /* margin-top: 40px; */
  font-size: 18px;
  margin-bottom: 8px;
}

.article__content .content__paragraph{
  color: #e5e7eb;
  margin-bottom: 16px;
}
.article__content .content__list{
  padding-left: 40px;
  margin-bottom: 16px;
}

.detailed__blog .article__info, .article__content .content__paragraph, .article__content .content__list, .article__content span{
  font-size: 15px;
}

.biography__row, .marquee__row{
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

code {
  font-size: 16px;
  font-family: monospace;
}

/* Marquee */
.marquee{
  position: relative;
  width: 100%;
  margin: auto;
  --duration: 38s;
  --gap: 2rem;

  display: flex;
  overflow: hidden;
  user-select: none;
  gap: var(--gap);
  padding: 12px 0;
}
.marquee:before, .marquee:after{
  content: "";
  position: absolute;
  z-index: 20;
  display: block;
  width: 100px;
  height: 100%;
  top: 0;
}
.marquee:before{
  left: 0;
  background: linear-gradient(to right, #131313, #13131300);
}
.marquee:after{
  right: 0;
  background: linear-gradient(to left, #131313, #13131300);
}

.marquee__box{
  transition: opacity 1s ease-in;
  padding: 0;
}

.marquee__group {
  flex-shrink: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  justify-content: space-around;
  gap: var(--gap);
  min-width: 100%;
  animation: scroll var(--duration) linear infinite;
  padding: 12px 0;
}

.marquee__reverse .marquee__group {
  animation-direction: reverse;
}
.marquee__item{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  padding: 16px;
  background: #1f1f1f;
  border-radius: 12px;
}
.marquee__item img{
  width: 40px;
  object-fit: contain;
  aspect-ratio: 1/1;
}

@media (prefers-reduced-motion: reduce) {
  .marquee__group {
    animation-play-state: paused;
  }
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(calc(-100% - var(--gap)));
  }
}

/* | ----- C. Media Queries ----- | */
@media only screen and (min-width: 400px) {
  /* Common CSS */
  .right__side #green__blob{
    width: 120px;
  }
}

@media only screen and (min-width: 768px) {
  /* Utility */
  .vertical__padding{
    padding: 160px 0px;
  }

  .heading{
    font-size: 34px;
  }

  .visible__on__desktop{
    display: block;
  }

  /* Common CSS */
  #hamburger__button{
    display: none;
  }

  .mobile__menu{
    display: none;
  }

  .right__side #green__blob img{
    width: 55px;
  }

  code{
    font-size: 22px;
  }

  .detailed__blog{
    row-gap: 24px;
    padding: 30px;
  }
  
  .detailed__blog .article__info, .article__content .content__paragraph{
    font-size: 16px;
  }

  .card__list, .article__list{
    grid-template-columns: auto auto;
  }
}

@media only screen and (min-width: 1024px) {
  /* Utility */
  .heading{
    font-size: 36px;
  }

  .visible__on__desktop{
    display: block;
  }

  /* Common CSS */
  .logo h1{
    font-size: 30px;
    line-height: 2.25rem;
  }

  .logo img{
    width: 32px;
  }

  main{
    flex-direction: row;
    height: 100vh;
    padding: 0;
  }

  #cta__link{
    margin: unset;
  }

  .cta__button:hover{
    transform: translateX(5px);
  }

  .left__side, .right__side{
    flex: 1;
  }
  .left__side{
    order: 1;
    text-align: unset;
  }
  .right__side{
    order: 2;
  }

  .left__side h1{
    font-size: 48px;
    line-height: 1;
  }

  .right__side img, .right__side #yellow__blob{
    max-width: 530px;
  }

  .right__side #green__blob{
    width: 160px;
    right: 48px;
  }
  
  .right__side #green__blob img{
    width: 65px;
  }

  .detailed__blog{
    row-gap: 32px;
    padding: 36px;
  }

  .article__content .content__heading{
    font-size: 22px;
  }

  .card__list, .article__list{
    grid-template-columns: 400fr 400fr 400fr;
  }

  .card img{
    height: 240px;
  }

  .marquee{
    --gap: 7.5rem;
  }

  .marquee__item img{
    width: 56px;
  }
}